@font-face {
    font-family: 'icones';
    src: url(../icons/icones.ttf);
}


body {
    background-color: #000000;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #ffffff;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

/*  --------------   header  --------------*/

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 8px 16px;
}

.cabecalho__menu {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    background-color: unset;
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 32px;
}

.cabecalho h1 {
    font-size: 24px;
    font-family: Raleway;
}

.cabecalho__home {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    background-color: unset;
    width: 15%;
    position: relative;
}


.cabecalho__home img {
    width: 100%;
    height: 100%;
    position: relative;
}


/* ///////////////// Menu Lateral ////////////// */

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 75vw;
    height: 100%;
    z-index: 5;
    position: absolute;
    left: -100vw;
    transition: .60s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .60s;
    z-index: 999;
}

.menu-lateral__logo {
    width: 75px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999c;
    padding-left: 5em;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menu-lateral__link:hover {
    color: rgba(255, 255, 255, 0.609);
    padding-left: 56px;
    border-left: 8px solid white;
    background-color: rgba(0, 0, 0, 0.007);
}



.menu-lateral__link--ativo {
    color: rgba(255, 255, 255, 0.609);
    padding-left: 56px;
    border-left: 8px solid white;
    background-color: rgba(255, 255, 255, 0.164);
}

.menu-lateral__link::before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f015";
}

.menu-lateral__link--videos::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\2b";
}

.menu-lateral__link--picos::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f068";
}

.menu-lateral__link--integrantes::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f1da";
}

.menu-lateral__link--camisas::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f2f5";
}


/* ------------------ Video ----------------- */
.camera {
    display: flex;
    justify-content: center;
}


.camera_video {
    height: 30em;
    background-color: red;    
    padding: 2em 0;
}

.camera_off {
    display: none;
}

.input_cod {
    display: none;
}

.instrucoes {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

.instrucoes_lista {
    padding: 2em;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.instrucoes_lista>li {
    padding: 2em;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.instrucoes--none {
    display: none;
}


/*  --------------   Informacoes  --------------*/

.infos {
    display: none;
}

.infos--ativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.infos_tec-text {
    font-size: 20px;
    font-weight: 700;
}

.infos_tec-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    text-align: left;
    background-color: rgb(230 0 0 / 50%);
    border-radius: 0.5em;
}

.btn_scan {
    margin-top: 5em;
    padding: 1.5em;
    width: 10em;
    border-radius: 1em;
    outline: none;
    border: none;
    background-color: #388BFD;
}


.btn_scan::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    content: "\f030";
}

/*  --------------   table  --------------*/

.infos_table {
    width: 100%;
}

.table {
    display: inline-table;
    width: 100%;
    font-weight: 500;   
}


.tbody td {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0;
}

tr:nth-child(odd) td {
    background-color: rgb(13, 17, 23);
    font-size: 14px;
    color: white;
}

tr:nth-child(even) td {
    background-color: rgba(0, 102, 255, 0.15);
    font-size: 14px;
    color: white;
}

tr:nth-child(odd) td:nth-child(1) {
    background-color: rgb(13, 110, 201);
    height: 3vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
}


tr:nth-child(odd) td:nth-child(4) {
    border-radius: .25rem;
}

tr:nth-child(even) td:nth-child(1) {
    background-color: #02c9bfa1;
    height: 3vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
}